
/*Posada paraiso***********/

.sliderContent{
    height:500px;
	background:rgb(12,12,23);
	
 }
 
 @media screen and (min-width: 780px) {/*Computadoras*/
   .navbar-header {/*Para cuando no hay contenido en el menú*/
     min-height:80px;
   }
}

@media screen and (max-width: 780px) {/*Tablets*/
   .sliderContent{/*Para cambiar el tamaño de las imagenes del slider*/
	/*  width:100%;height:500px; */
	 height:300px;
	background:rgb(254,246,234);
   }
}

@media only screen and (max-width: 600px) {/*Celulares*/
   .sliderContent{/*Para cambiar el tamaño de las imagenes del slider*/
	/*  width:100%;height:500px; */
	background:rgb(254,246,234);
	 height:150px;

   }
}

.style-alert-orange{
background:rgb(220,90,18);
color:white;
margin:0px;
}

/* para darle efcto de que se mueven hacia la derecha  */
body li{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/* para darle efcto de que se mueven hacia la derecha  */
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}


.main-menu{
background-color:rgb(231,96,18);
color:white;
}
.item-menu{
background:rgb(222,96,18);
}

.item-menu:hover{
margin-left:-1%;
margin-top:-1%;
border-radius:5px;
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.itema-active{
background:rgb(211,120,21);
}

.container-image{
/* height:90px;
background:gray;
 */}

.icon-logo-empresa {
  margin: 1em 0 0 .5em;
  width: 140px;
  height: 52px;
  margin-top:0px;
	
}

.ladrillos{

  background-color: #d37f15;
  background:url(../../img-posadaparaiso/paraisonaranja-10.png);
  padding: 15px;
  box-shadow: 1px 1px 1px #888888;
  z-index: 10; 
  color:white;
  min-width:100%;
  
  box-shadow: inset 0px 0px 50px rgb(12,1,2),
                    0px 0px 30px rgb(12,1,2);   
}

.style-button{
background:black;
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.style-button:hover{
background:rgb(100,100,100);
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.suscribete{
text-align:center;
 /* box-shadow: 10px 10px 10px #888888; */
 background-color:rgb(231,96,18) ;
  padding: 15px;
  color:white;

  
  
}
/* .historia-hotel{
color:black;
box-shadow: 10px 10px 10px #888888;
 background-color:white ;
  padding: 15px;
  box-shadow: 1px 1px 1px #888888;
  z-index: 10; 
} */

.historia-hotel {
  background-image: url("../../img-posadaparaiso/hotel-opaco.png");
  /* padding: 40px 0px 10px 0px; */
  padding:5%;
  color:black;
  }

	

.banner-promo{
padding:16px;
text-align:center;
background:white;
line-height: .6;
}


	
h2{
color:white;
}
.parrafo:first-letter{
  font-size:200%;
  float:left;
  color:#f00;
}

.text-encabezados-orange{
/* font-weight: bold; */
color:rgb(231,96,18);
font-size:2.4em;
text-shadow: 2px 2px 2px #aaa;
}

.text-encabezados-red{
font-weight: bold;
color:rgb(154,51,22);
font-size:2.3em;
text-shadow: 3px 3px 3px #aaa;
}

.promociones{
padding:40px;
color:black;
text-align: center;
}

.contacto{
padding:40px;
color:black;
background-image: url("../../img-posadaparaiso/pasillohotel-opaco.png");
}

.form-naranja{
color:white;
background-color:rgb(231,96,18);
padding:5px;
}

.form-gris{
color:white;
background-color:rgb(60,59,60);
padding:5px;

}

.ubicacion{
padding:40px;
background:rgb(254,246,234);
color:black;
}

.footer-menu{
padding:40px;
background-color:rgb(231,96,18);
color:white;
}
.sombrainterior-naranja{
  box-shadow: inset 0px 0px 30px rgb(211,27,21),/*sombra Interior*/
                    0px 0px 0px rgb(211,27,21);/*Sombra exterior*/   
}

.sombra-interior{
box-shadow: inset 0px 0px 50px rgb(12,1,2),
                  0px 0px 0px rgb(12,1,2);
}
/*************/

.logo{
		padding: 10px;
		width: 90px;
		height: 90px;
}

.main_content{
}

.mainmenu{
	margin-left: 50px;	 
}

.navbar{
	background: #FAA685;
	color: #000;
}

.footer-box{/* 
    background-color: #d37f15; */
    background-color: red;
	padding: 30px 0px;
	width: 100%;
	min-height:200px;
	background: #DDD;
	text-align: center;

}

.clear{
	clear:both;
	min-height: 20px;
}

.content-top{
	padding:4% 0;
	background:#FFFFFF;
}

.content-middle{
	padding:4% 0;
	background:#FAA685;
}

.img-footer{
	width: 100px;	
}


.footer_menu { clear:both;   text-align:center; }

.footer_menu span.current{ 
    height:32px; padding: 14px 0 0 0;
    color:#BBB;
}
.footer_menu li{ 
    display: inline;
}

.footer_menu li.selected{ 

}

  
.footer_menu a {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em; 
    color:gray;
    width:160px;
    height:32px;
    padding:10px 10px 0 10px;
}

#footer_menu a.current {background:url(../images/menu_current.png) left top no-repeat; }

